body {
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
	background: rgba(253, 243, 186, 0.6);
    }
h1, h2, h3, h4, h5 {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    margin-top: 0.5em;
    margin-bottom: 0.5em
    }
h1 {
    font-size: 300%;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    letter-spacing: 0.12em;
    word-spacing: 0.2em;
    text-indent: 0
    }
h2 {
    font-size: 150%;
    margin-top: 2em;
    margin-bottom: 1em
    }
h3 {
    font-size: 130%;
    margin-top: 1em
    }
h4 {
    font-size: 120%
    }
h5 {
    font-size: 110%
    }
.no-break {
    page-break-before: avoid
    }
/* for epubs */
div.chapter {
    page-break-before: always;
    margin-top: 4em
    }
hr {
    width: 80%;
    margin-top: 2em;
    margin-bottom: 2em
    }
p {
	font-family:serif;
    text-indent: 1em;
    margin-top: 0.25em;
    margin-bottom: 0.25em
    }
p.poem {
    text-indent: 0%;
    margin-left: 10%;
    font-size: 90%;
    margin-top: 1em;
    margin-bottom: 1em
    }
p.letter {
    text-indent: 0%;
    margin-top: 1.5em;
    margin-left: 10%;
    margin-right: 10%
    }
p.letter2 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em
    }
p.right {
    text-align: right;
    margin-right: 10%;
    margin-top: 1em;
    margin-bottom: 1em
    }
p.noindent {
    text-indent: 0%
    }
p.publisher {
    margin-top: 4em;
    text-align: center;
    font-size: smaller;
    margin-bottom: 3em;
    text-indent: 0;
    letter-spacing: 0.15ex
    }
p.copyright {
    margin-top: 6em;
    text-align: center;
    font-size: 70%;
    margin-bottom: 3em;
    text-indent: 0;
    line-height: 150%
    }
div.fig {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em
    }
div.note {
    margin: 4em 10% 0 10%;
    padding: 1em;
    border: 1px dashed black;
    color: inherit;
    background-color: #F0F8FF;
    font-size: smaller
    }
div.initial {
    float: left;
    clear: both;
    padding-top: 0;
    padding-right: 0.3em
    }
span.firstwords {
    text-transform: uppercase
    }
img {
    border-style: none
    }
div.backright {
    background: top right no-repeat
    }
div.backleft {
    background: top left no-repeat
    }
div.sandbag-left {
    float: left;
    clear: left;
    padding-right: 10px
    }
div.sandbag {
    float: right;
    clear: right;
    padding-left: 10px
    }
ul {
    list-style: none;
    line-height: 150%
    }
.pagenum {
    /* uncomment the next line for invisible page numbers */
    /*  visibility: hidden;  */
    position: absolute;
    right: 1%;
    font-size: x-small;
    text-align: right;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0;
    text-indent: 0
    }
a:link {
    color: blue;
    text-decoration: none
    }
a:visited {
    color: blue;
    text-decoration: none
    }
a:hover {
    color: red
    }
a:active {
    text-decoration: underline
    }
div.c16 {
    text-align: left
    }
div.c15 {
    margin-left: 0.7em
    }
div.c14 {
    margin-left: 0.7em
    }
div.c13 {
    text-indent: -0.7em
    }
div.c12 {
    display: block;
    font-size: 1.1em;
    margin: 1em 0;
    font-weight: bold
    }
div.c11 {
    margin: 0.83em 0;
    font-size: 1.1em;
    text-align: center
    }
span.c10 {
    font-size: smaller
    }
div.c9 {
    display: block;
    margin: 1em 0
    }
div.c8 {
    display: block;
    margin-top: 4em
    }
table {
    margin-left: auto;
    margin-right: auto;
    line-height: 180%
    }
table.c7 {
    margin-right: auto;
    margin-left: auto
    }
td.leftalign {
    padding-right: 4em;
    text-align: left;
    padding-left: 1em
    }
td.rightalign {
    text-align: right
    }
span.xhtml_big.c6 {
    font-weight: bold
    }
div.c6 {
    margin-top: 2em;
    margin-bottom: 4em
    }
div.c5 {
    display: block;
    margin-left: 2em;
    text-indent: -2em
    }
div.c4 {
    display: block;
    margin: 1em 0
    }
div.c3 {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    text-indent: -2em
    }
div.c2 {
    display: block;
    margin: 1em 0
    }
div.c1 {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold
    }
.bbox {
    border: solid 1px;
    margin-left: 20%;
    margin-right: 20%
    }
.center {
    text-align: center;
    text-indent: 0
    }
.smcap {
    font-variant: small-caps
    }
.figcenter {
    margin: auto;
    text-align: center;
    text-indent: 0
    }
.figleft {
    float: left;
    clear: left;
    margin-left: 0;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-right: 1em;
    padding: 0;
    text-align: center
    }
.figright {
    float: right;
    clear: right;
    margin-left: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-right: 0;
    padding: 0;
    text-align: center
    }
div.footnote p {
    text-indent: 0
    }
.footnotes {
    border: dotted 1px;
    padding-bottom: 1em;
    margin-top: 2em
    }
.footnote {
    margin-left: 10%;
    margin-right: 10%;
    font-size: smaller
    }
.footnote .label {
    position: absolute;
    right: 84%;
    text-align: right
    }
.fnanchor {
    vertical-align: baseline;
    font-size: 80%;
    position: relative;
    top: -0.4em
    }